@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input:-webkit-autofill {
  background-color: #3E5879 !important; /* Same as the input background */
  color: #D8C4B6 !important; /* Autofill text color */
  -webkit-text-fill-color: #D8C4B6 !important; /* Ensures the text color is red */
  box-shadow: 0 0 0px 1000px #3E5879 inset !important; /* Autofill background */
}


input[type="date"]::-webkit-datetime-edit {
  color: #d8c4b6 !important; /* Matches text color */
  background-color: transparent !important; /* Matches input background */
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(80%); /* Adjust the calendar icon to match your color scheme */
}

input[type="date"] {
  color: #d8c4b6; /* Ensures the text color for non-webkit browsers */
  background-color: #3e5879; /* Ensures the input background matches */
}
